@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
}

h3 {
  padding-left: 100px;
}

#left, #right {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 350px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.word {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;  
}

#image {
  display: inline-block;
  width: 404px;
  height: 500px;
  vertical-align: middle;
  background: url('../images/parasol.jpg') no-repeat;
  background-size: contain;
  background-position: center;
}

.row {
  height: 250px;
}

.column {
  display: inline-block;
  width: 202px;
  height: 250px;
}

.row:first-child .column:first-child {
  background-color: #f4f1eb; /* off white */
}

.row:first-child .column:nth-child(2) {
  background-color: #a4c8e5; /* light blue */
}

.row:nth-child(2) .column:first-child {
  background-color: #256349; /* dark green grass */
}

.row:nth-child(2) .column:nth-child(2) {
  background-color: #789945; /* green grass */
}

#button-container {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 30px 0px 0px 0px;
}

#button-container button {
  border: none;
  background-color: white;
  color: black;
  margin: 8px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#button-container button:hover {
  color: #5a9cd6; /* blue */
}

#button-container button:disabled {
  color: #b8b8b8; /* light gray */
}

#button-container button.good:disabled {
  color: #63bf5e; /* green */
}

#next-level-container button {
  border: none;
  background-color: white;
  color: black;
  margin: 8px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

#next-level-container button:hover {
  color: #5a9cd6; /* blue */
}